{% load static %}
<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- 
<link type="text/css" href="{% static 'films/css/style.css' %}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
-->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'films/css/style.css' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="base-wrapper">
      <header>
        <div class="base-header">
          <div class="base-header__line"></div>
          <div class="base-header__container">
            <div class="base-header__logo_and_breadcrumbs">

                <a class="base-header__link_logo" href="/">
                  <img
                    class="base-header__logo"
                    src="{% static 'films/images/main_logo.png' %}"
                  />
                </a>

              <span class="base-header__breadcrumbs">
                <a href="/news/" class="base-header__breadcrumbs_link">News</a>
                <a href="/catalog/" class="base-header__breadcrumbs_link">Movies & Trailers</a>
                <a href="/crew/" class="base-header__breadcrumbs_link">Crew</a>
              </span>
            </div>
              <a class="base-header__link_auth" href="#">
                <img
                  class="base-header__image_auth"
                  src="{% static 'films/images/auth.png' %}"
                />
              </a>
          </div>
        </div>
      </header>



      <div class="main">
        {% block content %} {% endblock content %}
      </div>


      
      <footer class="base-footer">
        <div class="base-footer__join_us">
            <a class="base-footer__join_us__link_tg"
               target="_blank" 
               href="https://telegram.me/thewayfilm">
              <img
                class="base-footer__tg_logo"
                src="{% static 'films/images/telegram_logo.png' %}"
              />
            </a>
            <a class="base-footer__join_us-link_yt"
               target="_blank"
               href="https://www.youtube.com/channel/UCwV_vxMOSfXVr1uqq6PYjzA"
            >
              <img
                class="base-footer__yt_logo"
                src="{% static 'films/images/youtube_logo.png' %}"
              />
            </a>
        </div>
        <span class="base-footer__breadcrumbs">
          <a class="base-footer__breadcrumbs-link" href="">Vakancys | Вакансии</a>
          <a class="base-footer__breadcrumbs-link" href="">Advertising | Реклама</a>
          <a class="base-footer__breadcrumbs-link" href="">About us | О нас</a>
        </span>
        <p class="base-footer__copyright">
          Copyright ©2019-2022. the WAY Film® . Copying, use or distribution
          of materials belonging to The WAY Film without the approval of
          Rodion Torchkovsky is strictly prohibited.
        </p>
      </footer>
    </div>
  </body>
</html>
