{% extends 'films/base.html' %} {% load static %} 

{% block content %}
<!-- big container #1 with new movie trailer -->
<!-- ind-... means index.html -->
<div class="ind-new_film">
  <div class="ind-new_film__container_preview">
    <iframe

      tabindex="-1"
      width="100%"
      height="100%"
      frameborder="0"
      allowtransparency="true"
      src="https://www.youtube.com/embed/{{ new_film.url_youtube }}?listType=playlist$rel=0&autoplay=1&controls=0&showinfo=0&iv_load_policy=3&mute=1&disablekb=1&loop=1&playlist=ak1VKcYSKEw"
      >
    </iframe>
    <!-- cool vid for example K4A5z_JNGuM -->
    <div class="ind-new-film__container_link">
      <a
        target="_blank"
        href="https://www.youtube.com/watch?v=ak1VKcYSKEw"
        class="ind-new-film__link"
        >Start wathcing this trailer or film</a
      >
    </div>
  </div>
</div>

<!-- big container #2 with latest movie made -->
<div class="ind-random_film_header">
  <p>
    Watch other movies by
    <a class="ind-random_film_header__author_name_link" href="#">Rodion Tarchkovsky</a>
  </p>
</div>
<div class="ind-random_film__container">
  <a class="ind-random_film__link"
     target="_blank" 
     href="/catalog/{{ random_film.title_for_url }}">
    <img
      class="ind-random_film__image"
      src="{% static random_film.url_image_preview %}"
    />
  </a>

  <div class="ind-random_film__content">

      <a href="/catalog/{{ random_film.title_for_url }}" 
         class="ind-random_film__content-name_link" 
         id="main_movie_discription">{{ random_film.title }}</a>
      <p>
        {% autoescape off %}
        {{ random_film.content|truncatewords:19 }}
        {% endautoescape %}
      </p>


      <a
        target="_blank"
        href="https://www.youtube.com/watch?v={{ random_film.url_youtube }}"
        class="ind-random_film__content-link"
        >Watch it on Youtube</a
      >

  </div>
</div>

<div class="container_with_last_news">
  <a class="title_to_last_news" href="#">Read the all relevant news</a>
</div>


. {% endblock content %}
